body {
    background-color: #50b2c0;
    color: #feefdd;
    font-family: "Consolas", sans-serif;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #ff4000;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    background-color: #feefdd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: #201e1f;
    display: inline-block; /* Display containers in one row */
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  h3 {
    background-color: #faaa8d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #201e1f;
    border: #faaa8d;
    width: 40vw;
    border-radius: 5px;
    border-style: solid;
    margin: auto;
  }
  
  h4 {
    background-color: #ffead0;
    color: #201e1f;
    border: #ffead0;
    width: 70vw;
    border-radius: 5px;
    border-style: solid;
    display: inline-block; /* Display h4 next to h3 */
    margin-left: 10px; /* Adjust margin as needed */
  }
  
  .footer {
    background-color: #201e1f;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  