body {
  background-color: #50b2c0;
  color: #feefdd;
  font-family: "Consolas", sans-serif;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  background-color: #ff4000;
  padding: 2px;
  text-align: center;
  font-size: 30px;
}

#hdimg {
  position: absolute;
  width: 20%;
  height: auto;
  text-align: left;
}


.footer {
  background-color: #201e1f;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

button {
  background-color: #ff4000;
  color: #feefdd;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

button:hover {
  background-color: #FC7A1E;
}

.container {
  position: relative; 
  background-color: #feefdd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  width: calc(80vw + 40px);
  text-align: left;
  color: #201e1f;
}

h3 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(0, 255, 30);
  color: #000000;
  border: #faaa8d;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

h2 {
  margin-left: 0;
  display: inline-flex;
  font-size: xx-large;
}

.year, .misc {
  display: inline;
  top: 0;
  left: 0;
  background-color: #faaa8d;
  color: #000000;
  border: #faaa8d;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
